<div>Login</div>
<form action="" method="POST" class="form-horizontal container" role="form">
    <div class="form-group ">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="basic-addon1">User name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="currentAccount.Name" placeholder="Username" aria-label="Username" [ngModelOptions]="{standalone: true}"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="currentAccount.id" placeholder="Password" aria-label="Password" [ngModelOptions]="{standalone: true}"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Đăng nhập</button>
</form>






